<div class="row row-cols-1 row-cols-lg-3">
  <div class="col">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <p class="mb-0">Novos Clientes</p>
            <h4 class="font-weight-bold">32,84 <small class="text-success font-13">(+40%)</small></h4>
            <p class="text-success mb-0 font-13">Análises da última semana</p>
          </div>
          <div class="widgets-icons bg-gradient-cosmic text-white"><i class='bx bx-refresh'></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <p class="mb-0">Veículos Corretagem</p>
            <h4 class="font-weight-bold">52 <small class="text-success font-13">(+22%)</small></h4>
            <p class="text-secondary mb-0 font-13">Análises da última semana</p>
          </div>
          <div class="widgets-icons bg-gradient-burning text-white"><i class='bx bx-group'></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <p class="mb-0">Veículos Próprios</p>
            <h4 class="font-weight-bold">34m 14s <small class="text-success font-13">(+55%)</small></h4>
            <p class="text-secondary mb-0 font-13">Análises da última semana</p>
          </div>
          <div class="widgets-icons bg-gradient-lush text-white"><i class='bx bx-time'></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <p class="mb-0">Leads</p>
            <h4 class="font-weight-bold">2335</h4>
            <p class="text-secondary mb-0 font-13">Análises da última semana</p>
          </div>
          <div class="widgets-icons bg-gradient-kyoto text-white"><i class='bx bxs-cube'></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <p class="mb-0">Fichas</p>
            <h4 class="font-weight-bold">58 <small class="text-danger font-13">(-16%)</small></h4>
            <p class="text-secondary mb-0 font-13">Análises da última semana</p>
          </div>
          <div class="widgets-icons bg-gradient-blues text-white"><i class='bx bx-line-chart'></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="flex-grow-1">
            <p class="mb-0">Oficina</p>
            <h4 class="font-weight-bold">R$ 6.000,00 <small class="text-danger font-13">(+54%)</small></h4>
            <p class="text-secondary mb-0 font-13">Análises da última semana</p>
          </div>
          <div class="widgets-icons bg-gradient-moonlit text-white"><i class='bx bx-bar-chart'></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end .row  -->


<!-- start .row  -->
<div class="row row-cols-1 row-cols-lg-2">
  <div class="col d-flex">
    <div class="card radius-10 w-100">
      
    </div>
  </div>
  
  
</div>
<!--end row-->

<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <h6 class="mb-0 font-weight-bold">Veículos mais procurados</h6>
          <p class="mb-0 ms-auto"><i class='bx bx-dots-horizontal-rounded float-end font-24'></i>
          </p>
        </div>
        <div class="d-flex my-4">
          <h1 class="mb-0 font-weight-bold">144</h1>
          <p class="mb-0 ml-3 font-14 align-self-end text-secondary">Clientes</p>
        </div>
        <div class="progress radius-10" style="height: 10px">
          <div class="progress-bar bg-primary" role="progressbar" style="width: 45%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-danger" role="progressbar" style="width: 10%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-success" role="progressbar" style="width: 15%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="table-responsive mt-4">
          <table class="table mb-0">
            <tbody>
              <tr>
                <td class="px-0">
                  <div class="d-flex align-items-center">
                    <div><i class='bx bxs-checkbox me-2 font-24 text-primary'></i>
                    </div>
                    <div>VW - Gol</div>
                  </div>
                </td>
                <td>46 Clientes</td>
                <td class="px-0 text-end">33%</td>
              </tr>
              <tr>
                <td class="px-0">
                  <div class="d-flex align-items-center">
                    <div><i class='bx bxs-checkbox me-2 font-24 text-danger'></i>
                    </div>
                    <div>GM - Onix</div>
                  </div>
                </td>
                <td>39 Clientes</td>
                <td class="px-0 text-end">17%</td>
              </tr>
              <tr>
                <td class="px-0">
                  <div class="d-flex align-items-center">
                    <div><i class='bx bxs-checkbox me-2 font-24 text-success'></i>
                    </div>
                    <div>Hyundai - HB20</div>
                  </div>
                </td>
                <td>29 Clientes</td>
                <td class="px-0 text-end">21%</td>
              </tr>
              <tr>
                <td class="px-0">
                  <div class="d-flex align-items-center">
                    <div><i class='bx bxs-checkbox me-2 font-24 text-warning'></i>
                    </div>
                    <div>Não informado</div>
                  </div>
                </td>
                <td>34 Clientes</td>
                <td class="px-0 text-end">23%</td>
              </tr>
              <tr>
                <td class="px-0">
                  <div class="d-flex align-items-center">
                    <div><i class='bx bxs-checkbox me-2 font-24 text-info'></i>
                    </div>
                    <div>Outros</div>
                  </div>
                </td>
                <td>28 Clientes</td>
                <td class="px-0 text-end">19%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <h6 class="mb-0 font-weight-bold">Últimos Clientes</h6>
          <p class="mb-0 ms-auto"><i class='bx bx-dots-horizontal-rounded float-end font-24'></i>
          </p>
        </div>
        <div class="d-flex align-items-center mt-3">
          <%= image_tag "theme/avatars/avatar-1.png", width:"45", height:"45", class:'rounded-circle', alt:"user avatar" %>
          <div class="flex-grow-1 ms-3">
            <p class="mb-0"><span class="badge badge-pill bg-light-danger text-danger">4.9</span>
            </p>
            <p class="font-weight-bold mb-0">Dr. Neil Wagner</p>
            <p class="text-secondary mb-0">Pediatrician</p>
          </div> <a href="javaScript:;" class="btn btn-sm btn-outline-primary radius-10">Agenda</a>
        </div>
        <hr/>
        <div class="d-flex align-items-center">
          <%= image_tag "theme/avatars/avatar-2.png", width:"45", height:"45", class:'rounded-circle', alt:"user avatar" %>
          <div class="flex-grow-1 ms-3">
            <p class="mb-0"><span class="badge badge-pill bg-light-danger text-danger">3.5</span>
            </p>
            <p class="font-weight-bold mb-0">Dr. Kane Williamson</p>
            <p class="text-secondary mb-0">Psychiatrist</p>
          </div> <a href="javaScript:;" class="btn btn-sm btn-outline-primary radius-10">Agenda</a>
        </div>
        <hr/>
        <div class="d-flex align-items-center">
          <%= image_tag "theme/avatars/avatar-3.png", width:"45", height:"45", class:'rounded-circle', alt:"user avatar" %>
          <div class="flex-grow-1 ms-3">
            <p class="mb-0"><span class="badge badge-pill bg-light-danger text-danger">5.2</span>
            </p>
            <p class="font-weight-bold mb-0">Dr. Tom Bundle</p>
            <p class="text-secondary mb-0">Neurologist</p>
          </div> <a href="javaScript:;" class="btn btn-sm btn-outline-primary radius-10">Agenda</a>
        </div>
        <hr/>
        <div class="d-flex align-items-center">
          <%= image_tag "theme/avatars/avatar-4.png", width:"45", height:"45", class:'rounded-circle', alt:"user avatar" %>
          <div class="flex-grow-1 ms-3">
            <p class="mb-0"><span class="badge badge-pill bg-light-danger text-danger">8.9</span>
            </p>
            <p class="font-weight-bold mb-0">Dr. Tim Southee</p>
            <p class="text-secondary mb-0">Rheumatologist</p>
          </div> <a href="javaScript:;" class="btn btn-sm btn-outline-primary radius-10">Agenda</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end .row  -->

<!-- .row -->
<div class="row row-cols-1 row-cols-lg-3">
  <div class="col d-flex">
    <div class="card radius-10 w-100">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <h6 class="font-weight-bold mb-0">Best Selling Products</h6>
          </div>
          <div class="dropdown ms-auto">
            <div class="cursor-pointer text-dark font-24 dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown"><i class="bx bx-dots-horizontal-rounded"></i>
            </div>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javaScript:;">Action</a>
              <a class="dropdown-item" href="javaScript:;">Another action</a>
              <div class="dropdown-divider"></div>	
              <a class="dropdown-item" href="javaScript:;">Something else here</a>
            </div>
          </div>
        </div>
          </div>
        <div class="best-selling-products p-3 mb-3 overflow-scroll">
          <div class="d-flex align-items-center">
            <div class="product-img">
              <%= image_tag "theme/icons/ice-cream-cornet.png", class:'p-1', alt:"icon" %>
            </div>
            <div class="ps-3">
              <h6 class="mb-0 font-weight-bold">Cone Ice Cream</h6>
              <p class="mb-0 text-secondary">$29/Each 56 Orders</p>
            </div>
            <p class="ms-auto mb-0 text-purple">$521.52</p>
          </div>
          <hr/>
          <div class="d-flex align-items-center">
            <div class="product-img">
              <%= image_tag "theme/icons/wine-glass.png", class:'p-1', alt:"icon" %>
            </div>
            <div class="ps-3">
              <h6 class="mb-0 font-weight-bold">Wine Glass</h6>
              <p class="mb-0 text-secondary">$30/Each 48 Orders</p>
            </div>
            <p class="ms-auto mb-0 text-purple">$406.87</p>
          </div>
          <hr/>
          <div class="d-flex align-items-center">
            <div class="product-img">
              <%= image_tag "theme/icons/banana.png", class:'p-1', alt:"icon" %>
            </div>
            <div class="ps-3">
              <h6 class="mb-0 font-weight-bold">Banana Toy</h6>
              <p class="mb-0 text-secondary">$26/Each 66 Orders</p>
            </div>
            <p class="ms-auto mb-0 text-purple">$685.69</p>
          </div>
          <hr/>
          <div class="d-flex align-items-center">
            <div class="product-img">
              <%= image_tag "theme/icons/telephone.png", class:'p-1', alt:"icon" %>
            </div>
            <div class="ps-3">
              <h6 class="mb-0 font-weight-bold">Old Telephone</h6>
              <p class="mb-0 text-secondary">$39/Each 26 Orders</p>
            </div>
            <p class="ms-auto mb-0 text-purple">$913.72</p>
          </div>
          <hr/>
          <div class="d-flex align-items-center">
            <div class="product-img">
              <%= image_tag "theme/icons/plate.png", class:'p-1', alt:"icon" %>
            </div>
            <div class="ps-3">
              <h6 class="mb-0 font-weight-bold">Orange Plate</h6>
              <p class="mb-0 text-secondary">$22/Each 34 Orders</p>
            </div>
            <p class="ms-auto mb-0 text-purple">$372.62</p>
          </div>
          <hr/>
          <div class="d-flex align-items-center">
            <div class="product-img">
              <%= image_tag "theme/icons/plate.png", class:'p-1', alt:"icon" %>
            </div>
            <div class="ps-3">
              <h6 class="mb-0 font-weight-bold">Old Telephone</h6>
              <p class="mb-0 text-secondary">$39/Each 26 Orders</p>
            </div>
            <p class="ms-auto mb-0 text-purple">$913.72</p>
          </div>
          <hr/>
          <div class="d-flex align-items-center">
            <div class="product-img">
              <%= image_tag "theme/icons/banana.png", class:'p-1', alt:"icon" %>
            </div>
            <div class="ps-3">
              <h6 class="mb-0 font-weight-bold">Banana Toy</h6>
              <p class="mb-0 text-secondary">$26/Each 66 Orders</p>
            </div>
            <p class="ms-auto mb-0 text-purple">$685.69</p>
          </div>
          <hr/>
          <div class="d-flex align-items-center">
            <div class="product-img">
              <%= image_tag "theme/icons/wine-glass.png", class:'p-1', alt:"icon" %>
            </div>
            <div class="ps-3">
              <h6 class="mb-0 font-weight-bold">Wine Glass</h6>
              <p class="mb-0 text-secondary">$30/Each 48 Orders</p>
            </div>
            <p class="ms-auto mb-0 text-purple">$406.87</p>
          </div>
          <hr>
          <div class="d-flex align-items-center">
            <div class="product-img">
              <%= image_tag "theme/icons/ice-cream-cornet.png", class:'p-1', alt:"icon" %>
            </div>
            <div class="ps-3">
              <h6 class="mb-0 font-weight-bold">Cone Ice Cream</h6>
              <p class="mb-0 text-secondary">$29/Each 56 Orders</p>
            </div>
            <p class="ms-auto mb-0 text-purple">$521.52</p>
          </div>
        </div>
    </div>
      </div>
      <div class="col d-flex">
    <div class="card radius-10 w-100">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <h6 class="font-weight-bold mb-0">Recent Reviews</h6>
          </div>
          <div class="dropdown ms-auto">
            <div class="cursor-pointer text-dark font-24 dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown"><i class="bx bx-dots-horizontal-rounded"></i>
            </div>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javaScript:;">Action</a>
              <a class="dropdown-item" href="javaScript:;">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javaScript:;">Something else here</a>
            </div>
          </div>
        </div>
        </div>
        <div class="recent-reviews p-3 mb-3 overflow-scroll">
          <div class="d-flex align-items-center">
            <div class="product-img">
              <%= image_tag "theme/icons/banana.png", class:'p-1', alt:"icon" %>
            </div>
            <div class="ps-3">
              <h6 class="mb-0 font-weight-bold">Banana Toy</h6>
            </div>
            <p class="ms-auto mb-0"><i class='bx bxs-star text-warning mr-1'></i> 5.00</p>
          </div>
          <hr/>
          <div class="d-flex align-items-center">
            <div class="product-img">
              <%= image_tag "theme/icons/telephone.png", class:'p-1', alt:"icon" %>
            </div>
            <div class="ps-3">
              <h6 class="mb-0 font-weight-bold">Old Telephone</h6>
            </div>
            <p class="ms-auto mb-0"><i class='bx bxs-star text-warning mr-1'></i> 5.00</p>
          </div>
          <hr/>
          <div class="d-flex align-items-center">
            <div class="product-img">
              <%= image_tag "theme/icons/wine-glass.png", class:'p-1', alt:"icon" %>
            </div>
            <div class="ps-3">
              <h6 class="mb-0 font-weight-bold">Wine Glass</h6>
            </div>
            <p class="ms-auto mb-0"><i class='bx bxs-star text-warning mr-1'></i> 5.00</p>
          </div>
          <hr/>
          <div class="d-flex align-items-center">
            <div class="product-img">
              <%= image_tag "theme/icons/plate.png", class:'p-1', alt:"icon" %>
            </div>
            <div class="ps-3">
              <h6 class="mb-0 font-weight-bold">Orange Plate</h6>
            </div>
            <p class="ms-auto mb-0"><i class='bx bxs-star text-warning mr-1'></i> 5.00</p>
          </div>
          <hr/>
          <div class="d-flex align-items-center">
            <div class="product-img">
              <%= image_tag "theme/icons/ice-cream-cornet.png", class:'p-1', alt:"icon" %>
            </div>
            <div class="ps-3">
              <h6 class="mb-0 font-weight-bold">Cone Ice Cream</h6>
            </div>
            <p class="ms-auto mb-0"><i class='bx bxs-star text-warning mr-1'></i> 5.00</p>
          </div>
          <hr/>
          <div class="d-flex align-items-center">
            <div class="product-img">
              <%= image_tag "theme/icons/telephone.png", class:'p-1', alt:"icon" %>
            </div>
            <div class="ps-3">
              <h6 class="mb-0 font-weight-bold">Old Telephone</h6>
            </div>
            <p class="ms-auto mb-0"><i class='bx bxs-star text-warning mr-1'></i> 5.00</p>
          </div>
          <hr/>
          <div class="d-flex align-items-center">
            <div class="product-img">
              <%= image_tag "theme/icons/wine-glass.png", class:'p-1', alt:"icon" %>
            </div>
            <div class="ps-3">
              <h6 class="mb-0 font-weight-bold">Wine Glass</h6>
            </div>
            <p class="ms-auto mb-0"><i class='bx bxs-star text-warning mr-1'></i> 5.00</p>
          </div>
          <hr/>
          <div class="d-flex align-items-center">
            <div class="product-img">
              <%= image_tag "theme/icons/plate.png", class:'p-1', alt:"icon" %>
            </div>
            <div class="ps-3">
              <h6 class="mb-0 font-weight-bold">Orange Plate</h6>
            </div>
            <p class="ms-auto mb-0"><i class='bx bxs-star text-warning mr-1'></i> 5.00</p>
          </div>
        </div>
      
    </div>
      </div>
      <div class="col d-flex">
    <div class="card radius-10 w-100">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <h6 class="font-weight-bold mb-0">Support Inbox</h6>
          </div>
          <div class="dropdown ms-auto">
            <div class="cursor-pointer text-dark font-24 dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown"><i class="bx bx-dots-horizontal-rounded"></i>
            </div>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javaScript:;">Action</a>
              <a class="dropdown-item" href="javaScript:;">Another action</a>
              <div class="dropdown-divider"></div>	
              <a class="dropdown-item" href="javaScript:;">Something else here</a>
            </div>
          </div>
          </div>
          </div>
        <div class="support-list p-3 mb-3 overflow-scroll">
          <div class="d-flex align-items-top">
            <div class="">
              <%= image_tag "theme/avatars/avatar-1.png", width:"45", height:"45", class:'rounded-circle', alt:"avatar" %>
            </div>
            <div class="ps-2">
              <h6 class="mb-1 font-weight-bold">Jordan Ntolo <span class="text-primary float-end font-13">2 hours ago</span></h6>
              <p class="mb-0 font-13 text-secondary">My item doesn't ship to correct address. Please check It Proper</p>
            </div>
          </div>
          <hr/>
          <div class="d-flex align-items-top">
            <div class="">
              <%= image_tag "theme/avatars/avatar-2.png", width:"45", height:"45", class:'rounded-circle', alt:"avatar" %>
            </div>
            <div class="ps-2">
              <h6 class="mb-1 font-weight-bold">Carolien Bloeme <span class="text-primary float-end font-13">3 hours ago</span></h6>
              <p class="mb-0 font-13 text-secondary">You shipped different color, I need it to be changed</p>
            </div>
          </div>
          <hr/>
          <div class="d-flex align-items-top">
            <div class="">
              <%= image_tag "theme/avatars/avatar-3.png", width:"45", height:"45", class:'rounded-circle', alt:"avatar" %>
            </div>
            <div class="ps-2">
              <h6 class="mb-1 font-weight-bold">Lisanne Viscall <span class="text-primary float-end font-13">12 hours ago</span></h6>
              <p class="mb-0 font-13 text-secondary">Can you please refund my money. I don't want to wait anymore</p>
            </div>
          </div>
          <hr/>
          <div class="d-flex align-items-top">
            <div class="">
              <%= image_tag "theme/avatars/avatar-4.png", width:"45", height:"45", class:'rounded-circle', alt:"avatar" %>
            </div>
            <div class="ps-2">
              <h6 class="mb-1 font-weight-bold">Sun Jun <span class="text-primary float-end font-13">12 Yesterday</span></h6>
              <p class="mb-0 font-13 text-secondary">Please return my phone. it is not iPhon7. I send you many request.</p>
            </div>
          </div>
          <hr/>
          <div class="d-flex align-items-top">
            <div class="">
              <%= image_tag "theme/avatars/avatar-5.png", width:"45", height:"45", class:'rounded-circle', alt:"avatar" %>
            </div>
            <div class="ps-2">
              <h6 class="mb-1 font-weight-bold">Lotila Remo <span class="text-primary float-end font-13">2 days ago</span></h6>
              <p class="mb-0 font-13 text-secondary">Hello, I need admin template product. how can i purchase?</p>
            </div>
          </div>
          <hr/>
          <div class="d-flex align-items-top">
            <div class="">
              <%= image_tag "theme/avatars/avatar-1.png", width:"45", height:"45", class:'rounded-circle', alt:"avatar" %>
            </div>
            <div class="ps-2">
              <h6 class="mb-1 font-weight-bold">Carolien Bloeme <span class="text-primary float-end font-13">3 hours ago</span></h6>
              <p class="mb-0 font-13 text-secondary">You shipped different color, I need it to be changed</p>
            </div>
          </div>
          <hr/>
          <div class="d-flex align-items-top">
            <div class="">
              <%= image_tag "theme/avatars/avatar-1.png", width:"45", height:"45", class:'rounded-circle', alt:"avatar" %>
            </div>
            <div class="ps-2">
              <h6 class="mb-1 font-weight-bold">Lisanne Viscall <span class="text-primary float-end font-13">12 hours ago</span></h6>
              <p class="mb-0 font-13 text-secondary">Can you please refund my money. I don't want to wait anymore</p>
            </div>
          </div>
          <hr/>
          <div class="d-flex align-items-top">
            <div class="">
              <%= image_tag "theme/avatars/avatar-4.png", width:"45", height:"45", class:'rounded-circle', alt:"avatar" %>
            </div>
            <div class="ps-2">
              <h6 class="mb-1 font-weight-bold">Sun Jun <span class="text-primary float-end font-13">12 Yesterday</span></h6>
              <p class="mb-0 font-13 text-secondary">Please return my phone. it is not iPhon7. I send you many request.</p>
            </div>
          </div>
        </div>
      
    </div>
      </div>
  </div>
  <!--end row-->

  <div class="card radius-10">
    <div class="card-header border-bottom-0 bg-transparent">
      <div class="d-flex align-items-center">
        <div>
          <h5 class="font-weight-bold mb-0">Últimas fichas</h5>
        </div>
        <div class="ms-auto">
          <button type="button" class="btn btn-white radius-10">View More</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table mb-0 align-middle">
          <thead>
            <tr>
              <th>Photo</th>
              <th>Product Name</th>
              <th>Customer</th>
              <th>Product id</th>
              <th>Price</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="product-img bg-transparent border">
                  <%= image_tag "theme/icons/shoes.png", class:'p-1', alt:"icon" %>
                </div>
              </td>
              <td>Nike Sports NK</td>
              <td>Mitchell Daniel</td>
              <td>#9668521</td>
              <td>$99.85</td>
              <td><a href="javaScript:;" class="btn btn-sm btn-success radius-30">Delivered</a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="product-img bg-transparent border">
                  <%= image_tag "theme/icons/smartphone.png", class:'p-1', alt:"icon" %>
                </div>
              </td>
              <td>Redmi Airdts</td>
              <td>Craig Clayton</td>
              <td>#8627523</td>
              <td>$59.35</td>
              <td><a href="javaScript:;" class="btn btn-sm btn-danger radius-30">Cancelled</a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="product-img bg-transparent border">
                  <%= image_tag "theme/icons/mouse.png", class:'p-1', alt:"icon" %>
                </div>
              </td>
              <td>Magic Mouse 2</td>
              <td>Julia Burke</td>
              <td>#6875954</td>
              <td>$42.68</td>
              <td><a href="javaScript:;" class="btn btn-sm btn-warning radius-30">Pending</a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="product-img bg-transparent border">
                  <%= image_tag "theme/icons/tshirt.png", class:'p-1', alt:"icon" %>
                </div>
              </td>
              <td>Coton-T-Shirt</td>
              <td>Clark Natela</td>
              <td>#4587892</td>
              <td>$32.78</td>
              <td><a href="javaScript:;" class="btn btn-sm btn-success radius-30">Delivered</a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="product-img bg-transparent border">
                  <%= image_tag "theme/icons/headphones.png", class:'p-1', alt:"icon" %>
                </div>
              </td>
              <td>Headphones 7</td>
              <td>Robin Mandela</td>
              <td>#5587426</td>
              <td>$29.52</td>
              <td><a href="javaScript:;" class="btn btn-sm btn-success radius-30">Delivered</a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="product-img bg-transparent border">
                  <%= image_tag "theme/icons/mouse.png", class:'p-1', alt:"icon" %>
                </div>
              </td>
              <td>Magic Mouse 2</td>
              <td>Julia Burke</td>
              <td>#6875954</td>
              <td>$42.68</td>
              <td><a href="javaScript:;" class="btn btn-sm btn-warning radius-30">Pending</a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="product-img bg-transparent border">
                  <%= image_tag "theme/icons/tshirt.png", class:'p-1', alt:"icon" %>
                </div>
              </td>
              <td>Coton-T-Shirt</td>
              <td>Clark Natela</td>
              <td>#4587892</td>
              <td>$32.78</td>
              <td><a href="javaScript:;" class="btn btn-sm btn-success radius-30">Delivered</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<!-- end .row  -->

